header {
    position: fixed;
    top: 0;
    width: 100%;
    border-bottom: solid thin ;
    border-bottom-color: #dedcdc;

}


.flex-container {
    display: flex;
    justify-content: space-between;
    
}
.flex-button {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#newsletter {
    width: 400px;
    display: flex;
}
input[name="email"] {
    width: 70%;
    border: solid; 
    border-color: #c7000c;
    padding: 15px 10px 14px;
}
button {
    border: none;   
}
#btn-form {
    background-color: #c7000c;
    border-radius: 3px;
}
#btn-ctt {
    margin: 15px;
    width: 150px;
    font-weight: 900;
    font-family: Arial;
    padding: 17px 8px 15px;
}

#btn-flight {
    background-color: #4caf50;
    margin: 0px 3px 0px 2px;
    border-radius: 2px;
}

.btn {
    cursor: pointer;
    display: inline-block;
    color: #fff;
    padding: 17px 8px 15px;
    font-weight: 700;
    font-size: 17px;
    line-height: 20px;
    letter-spacing: .5px;
    border-radius: 6px;
    text-align: center;
    text-transform: uppercase;
    
    font-weight: 900;
    font-family: Arial;
    fill: #FFF;
    background-color: #c7000c;
}


.description {
    font-family:'Roboto', sans-serif;
    font-size: 30px;
    text-align: center;
}
body {
    font-family:'Roboto', sans-serif;
    background-color: #dedcdc;
    margin: 0;
} 

#spaceship {
    
    background-color: #c7000c;
}

.logo-nome {
    margin: 5px 15px ;
    display: flex;
}
#logo {
    width: 60px;
    height: 70px;
}
#companhia {
    font-family: 'Abril Fatface', cursive;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
    margin: 10px;
    padding-top: 12px;

}



.products {
    background-color: blueviolet;
}

#texto-2 {
    width: 60%;
}

.flights {
    background-image: url("../assets/17.png");
    background-repeat: no-repeat;
    background-position: right top; 
    padding: 30px 40px;
    
    font-family: 'Montserrat', Arial, sans-serif;
    background-color: #c7000c;
}

.titulo {
    font-size: 60px;
    font-weight: 800;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #c7000c;
    text-align: center;
}

.subtitulo {
    
    font-size: 20px;
    font-weight: 600;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;

}

.description2 {
    
    max-width: 350px;
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    font-family: 'Montserrat', Arial, sans-serif;
}

.flex-line {
    margin: 20px 0px;
    display: flex;
    background-color: darkred;
    padding: 3px 0px;
    max-width: 80%;
    border-radius: 2px;
    
}
.my-input {
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    color: gray;
    opacity: 0.3px;
    border: none;
    margin: 0px 3px
}
.origem, .destino {
    width: 30%;
}

.ida, .volta {
    width: 20%;
}


.presentation {
    margin-top: 80px;
    padding: 0px 30px 15px;
    display: flex;
    background-color: aliceblue;
}

.presentation-card {
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.presentation-img {
    width: 50%;
}


.imagem-principal {
    height: 550px;
    width: 600px;
}

header {
    background-color: aliceblue;
}

a {
    color: inherit;
}

footer {
    text-align: center;
    font-size:16px;
    font-weight: 600;
    font-family: 'Montserrat', Arial, sans-serif;
    color: #fff;
    background-color: #c7000c;
    padding: 5px 0px;
}